.card {
background-color: blueviolet;
    height: 300px;
    width: 250px;
    border: 1px solid black;
    clip-path: path("M36.7455 0H152.719V130.982H98.1431C64.2342 130.982 36.7455 103.493 36.7455 69.584V19.1015V0Z M36.7454 0.000667572V32.7461C34.7036 16.8195 22.7963 3.93478 7.07993 0.645306L4 0.000667572H36.7454ZM152.719 130.981V163.727C150.677 147.8 138.77 134.915 123.054 131.626L119.974 130.981H152.719Z");
}


/* <path d='M36.7454 0.000667572V32.7461C34.7036 16.8195 22.7963 3.93478 7.07993 0.645306L4 0.000667572H36.7454Z' */  